MYSQL_DATABASE=library
MYSQL_USER=library
MYSQL_PASSWORD=library
MYSQL_ROOT_PASSWORD=change-me
MONGODB_DATABASE=library_read
OUTBOX_POLLING_INTERVAL_SECONDS=2
OUTBOX_BATCH_SIZE=50
OUTBOX_MAX_ATTEMPTS=10
OUTBOX_RETRY_DELAY_SECONDS=5
